form{
 display: grid;
 grid-template-columns: 1fr 1fr;
 text-align: center;
margin-left: 20%;
margin-right: 20%;
margin-top: 50px;
font-size: 20px;
color: red;
text-shadow: blueviolet 2px 2px 2px;
}
input{
  display: block;
  margin: 1rem;
  background-color: rgb(233, 161, 134);
}
.list{
text-align: center;
font-size: 30px;
color: cornsilk;
text-shadow: purple 2px 2px 2px;

}
body{
  background: url(https://i.pinimg.com/originals/ab/c7/0f/abc70fa0d77ecda2a88e8152f66b3a3b.jpg);
}
button{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: double;
background-color: rgb(109, 5, 5);
}